body{
    display: flex;
    justify-content: center;
    background: rgb(47,174,177);
    background: linear-gradient(214deg, rgba(47,174,177,1) 0%, rgba(39,0,145,1) 98%);
    height: 100vh;
}
#canvas{
    background-color: white;
    border: solid 1px black;
    margin: auto;
}