body{
    display: flex;
    justify-content: center;
    background-color: rgb(2, 2, 73);
    height: 100vh;
}
#canvas{
    background-color: white;
    border: solid 1px black;
    margin: auto;
}