body{
    width: 100%;
    background-color: rgb(25, 116, 190);
}
h1{
    display: flex;
    justify-content: center;
    color: limegreen;
}
.corpo{
    display: flex;
    justify-content: center;
    font-size: 15pt;
    color: white;
}
#botao{
    width: 100px;
    height: 50px;
    background-color: darkslateblue;
    color: white;
}