body{
    font-family: Arial;
}
h1 p{
    color:purple;
    font-size: 20pt;
}
div a:hover{
    color:green
}
h2 p{
    color: black
}
.cev{
    font-size: 14pt;
    color: darkgreen;
}